$Softorange: hsl(35, 77%, 62%);
$Softred: hsl(5, 85%, 63%);
$Offwhite: hsl(36, 100%, 99%);
$Grayishblue: hsl(233, 8%, 79%);
$Darkgrayishblue: hsl(236, 13%, 42%);
$Verydarkblue: hsl(240, 100%, 5%);

@font-face {
    font-family: inter;
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: inter-bold;
    src: url(/assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: inter-extrabold;
    src: url(/assets/fonts/static/Inter-ExtraBold.ttf);
}