@font-face {
  font-family: inter;
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: inter-bold;
  src: url(/assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: inter-extrabold;
  src: url(/assets/fonts/static/Inter-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  font-size: 15px;
}

.page {
  height: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto auto auto;
  padding: 70px;
}
@media (max-width: 1200px) {
  .page {
    padding: 50px;
  }
}
@media (max-width: 900px) {
  .page {
    padding: 40px;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .page {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
.page .nav {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .page .nav .logo-img {
    scale: 0.7;
    margin-left: -10px;
  }
}
.page .nav__menu-img {
  display: none;
}
.page .nav__menu-img img {
  margin-top: 15px;
}
@media (max-width: 600px) {
  .page .nav__menu-img {
    display: block;
  }
}
.page .nav__menu-overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 26, 0.35);
  top: 0;
  left: 0%;
}
.page .nav__menu-overlay-menu {
  width: 70%;
  height: 100%;
  background-color: hsl(36deg, 100%, 99%);
  position: absolute;
  right: 0;
}
.page .nav__menu-overlay-menu img {
  position: absolute;
  right: 5%;
  top: 3%;
}
.page .nav__menu-overlay-menu .btn-container {
  position: absolute;
  top: 15%;
  left: 10%;
}
.page .nav__menu-overlay-menu .btn-container button {
  margin-top: 20px;
  font-size: 20px;
  display: block;
  background-color: transparent;
  border: none;
  color: hsl(240deg, 100%, 5%);
  cursor: pointer;
}
.page .nav__menu-overlay-menu .btn-container button:hover {
  color: hsl(5deg, 85%, 63%);
}
.page .nav__buttons-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
  outline: none;
}
@media (max-width: 900px) {
  .page .nav__buttons-div {
    gap: 45px;
  }
}
@media (max-width: 600px) {
  .page .nav__buttons-div {
    display: none;
  }
}
.page .nav__buttons-div button {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: hsl(240deg, 100%, 5%);
  cursor: pointer;
}
.page .nav__buttons-div button:hover {
  color: hsl(5deg, 85%, 63%);
}
.page .div-1 {
  grid-column: 1/7;
}
.page .div-1__img-web3--div {
  background-image: url(/assets/images/image-web-3-desktop.jpg);
  background-size: 100% 350px;
  background-repeat: no-repeat;
  height: 340px;
  width: 100%;
}
@media (max-width: 600px) {
  .page .div-1__img-web3--div {
    background-image: url(/assets/images/image-web-3-mobile.jpg);
  }
}
.page .div-1__information-div {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media (max-width: 900px) {
  .page .div-1__information-div {
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .page .div-1__information-div {
    display: flex;
    flex-direction: column;
  }
}
.page .div-1__information-div-part-1 h1 {
  font-size: 50px;
  font-family: inter-extrabold;
  color: hsl(240deg, 100%, 5%);
  line-height: 50px;
}
.page .div-1__information-div-part-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .page .div-1__information-div-part-2 {
    gap: 20px;
  }
}
.page .div-1__information-div-part-2 p {
  color: hsl(236deg, 13%, 42%);
  line-height: 23px;
}
.page .div-1__information-div-part-2 button {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
  letter-spacing: 2px;
  border: none;
}
.page .div-1__information-div-part-2 button:hover, .page .div-1__information-div-part-2 button:active {
  cursor: pointer;
  background-color: hsl(240deg, 100%, 5%);
}
.page .div-2 {
  grid-column: 7/-1;
  display: flex;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(240deg, 100%, 5%);
}
@media (max-width: 600px) {
  .page .div-2 {
    height: 400px;
    margin-top: 50px;
  }
}
.page .div-2 h2 {
  width: 90%;
  font-size: 35px;
  color: hsl(35deg, 77%, 62%);
  font-weight: bold;
}
.page .div-2 h4 {
  font-size: 17px;
  color: hsl(36deg, 100%, 99%);
  cursor: pointer;
}
.page .div-2 h4:hover, .page .div-2 h4:active {
  color: hsl(35deg, 77%, 62%);
}
.page .div-2 p {
  margin-top: 10px;
  color: hsl(233deg, 8%, 79%);
}
.page .div-2__line {
  height: 1px;
  width: 90%;
  background-color: hsl(236deg, 13%, 42%);
}
.page .div-2__newsdiv-1 {
  width: 90%;
}
.page .div-2__newsdiv-2 {
  width: 90%;
}
.page .div-2__newsdiv-3 {
  width: 90%;
}
.page .div-3 {
  display: flex;
}
.page .div-3__01, .page .div-3__02, .page .div-3__03 {
  display: flex;
}
.page .div-3__01 img, .page .div-3__02 img, .page .div-3__03 img {
  width: 100px;
}
.page .div-3__01 h3, .page .div-3__02 h3, .page .div-3__03 h3 {
  font-size: 25px;
  color: hsl(236deg, 13%, 42%);
}
.page .div-3__01 h5, .page .div-3__02 h5, .page .div-3__03 h5 {
  font-size: 17px;
  color: hsl(240deg, 100%, 5%);
  cursor: pointer;
  font-family: inter-extrabold;
}
.page .div-3__01 h5:hover, .page .div-3__02 h5:hover, .page .div-3__03 h5:hover {
  color: hsl(5deg, 85%, 63%);
}
.page .div-3__01 p, .page .div-3__02 p, .page .div-3__03 p {
  color: hsl(236deg, 13%, 42%);
  line-height: 20px;
}
.page .div-3__01 {
  grid-column: 1/4;
}
@media (max-width: 900px) {
  .page .div-3__01 {
    grid-column: 1/5;
  }
}
@media (max-width: 600px) {
  .page .div-3__01 {
    margin-top: 50px;
  }
}
.page .div-3__02 {
  grid-column: 4/7;
}
@media (max-width: 900px) {
  .page .div-3__02 {
    grid-column: 5/9;
  }
}
.page .div-3__03 {
  grid-column: 7/-1;
}
@media (max-width: 900px) {
  .page .div-3__03 {
    grid-column: 1/5;
  }
}
.page .div-3__info-div {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0px 5px 15px;
  width: 100%;
}

@font-face {
  font-family: inter;
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: inter-bold;
  src: url(/assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: inter-extrabold;
  src: url(/assets/fonts/static/Inter-ExtraBold.ttf);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=index.css.map */